target
*.iml
*.idea
build/
out
app.jar
frontend/node_modules
.gradle
.gradle/
gradle
gradle/
.gradle/2.2/taskArtifacts/**
gradle/**
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
