a div:hover {
	background-color: #3f3f3f;
}
.margin-top-30 {
	margin-top: 30px;
}
.margin-bottom-30 {
	margin-bottom: 30px;
}
.margin-bottom-0 {
	margin-bottom: 0px;
}
.rw-widget {
	border-radius: 1px;
}
.rw-input {
	height: 39px;
}
h1 small, h2 small, h3 small, h4 small{
	color: #fd5158;
}
h1, h2, h3, h4 {
	color: #fd5158;
}

a {
    color: #ebebeb;
}
a:hover {
    color: #ebebeb;
}
.pre {
	white-space: pre;
}

.old-event {
	opacity: 0.7;
}
.eventList a:hover {
	text-decoration: none;
}
.checkbox {
	margin: 0;
}

.form-group.lol {
	margin: 0;
}