a:hover {
	background-color: #3f3f3f;
}
.margin-top-30 {
	margin-top: 30px;
}
.margin-top-50 {
	margin-top: 50px;
}
.margin-bottom-30 {
	margin-bottom: 30px;
}
.margin-bottom-0 {
	margin-bottom: 0px;
}
.margin-top-10 {
	margin-top: 10px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.rw-widget {
	border-radius: 1px;
}
.rw-input {
	height: 39px;
}
h1 small, h2 small, h3 small, h4 small{
	color: #808080;
}
h1, h2, h3, h4 {
	color: #FFFFFF;
}
h2 .gray {
	color: #808080;
}

a {
    color: #ebebeb;
}
a:hover, a:focus {
    color: #ebebeb;
}
.pre {
	white-space: pre;
}
.pre-wrap {
	white-space: pre-wrap;
}

.old-event {
	opacity: 0.3;
}
.eventList a:hover {
	text-decoration: none;
}
.checkbox {
	margin: 0;
}

.form-group.lol {
	margin: 0;
}

body {
	background-color: #141414;
	overflow-y: scroll;
}

.navbar-default, .event {
	background-color: #212121;
}
.event {
	margin-bottom: 20px;
}
.event-with-padding {
	padding: 10px
}